@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Space+Grotesk:wght@400;500;700&display=swap'); 

body,html{
  font-family:"Space Grotest", "DM Sans", system-ui, -apple-system, 
  BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
   Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: all 300ms ease-in;
}

@layer base{
  li{
    @apply p-4 font-bold uppercase
  }

  a{
    @apply cursor-pointer
    hover:text-gray-400;
  }
  button{
    @apply text-white uppercase  px-[10px] py-1 rounded-[20px] 
     text-xs font-bold
  }
}